.DS_Store
node_modules
log
package-lock.json

# local env files
.env.local
.env.*.local

# 保留文件目录，屏蔽文件
dist/*
!dist/.gitkeep

test/*
!test/.gitkeep

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*